 /* =========修改的头部========= */

 header {
     .mui-icon {
         color: #fff;
     }
 }
 /* ===========内容=========== */

 .lt_view {
     form {
         padding: 15px 0 0;
         .mui-input-row {
             &:after {
                 background-color: #fff;
             } 
             .mui-icon {
                 right: 10px;
             }
         }
         div {
             margin-bottom: 15px;
             padding: 0 10px;
             input {
                 border: 1px solid #ccc;
             }
             .mui-btn{
                 width: 100%;
             }
         }
     }
 }