.lt_view {
  position: relative;
  height: 100%;
  background-color: #fff;
}
.mui-scroll {
  position: initial;
}
/* 轮播图 */
/* ===========运动男女鞋========= */
.lt_shoe {
  padding: 5px 10px;
}
.lt_shoe a {
  display: block;
  float: left;
  width: 33.33%;
}
.lt_shoe a img {
  display: block;
  width: 100%;
}
/* ==============产品列表============== */
.lt_product {
  width: 100%;
  height: 100%;
  text-align: center;
  padding-bottom: 20px;
}
.lt_product .list_item {
  float: left;
  width: 50%;
  padding: 5px;
}
.lt_product .list_item .lt_list_item {
  border: 1px solid #ccc;
  padding-bottom: 10px;
}
.lt_product .list_item .lt_list_item img {
  width: 100%;
}
.lt_product .list_item .lt_list_item .describe {
  padding: 0 10px;
  text-align: left;
  height: 40px;
  overflow: hidden;
}
.lt_product .list_item .lt_list_item .price {
  color: red;
}
.lt_product .list_item .lt_list_item .click_buy {
  width: 80px;
  height: 30px;
  background-color: #007aff;
}
