/* ==========修改的头部================== */
header h2 .lt_header_srt {
  color: #ffffff;
  float: left;
}
/* ==============搜索框============== */
.lt_view {
  padding: 10px;
  background-color: #fff;
}
.lt_view .seek_form {
  position: relative;
  border: 2px solid #000;
  box-shadow: 0 0 4px 1px #000;
}
.lt_view .seek_form .seekTxt {
  width: 100%;
  height: 35px;
  padding-right: 20%;
  margin: 0;
}
.lt_view .seek_form .seekBtn {
  width: 20%;
  height: 35px;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: crimson;
  color: #fff;
}
/* =================搜索历史与清空历史============ */
.seek_empty {
  padding: 15px 0;
}
.seek_empty .seek_history {
  font-size: 14px;
  color: #888;
}
.seek_empty .empty_history {
  font-size: 14px;
  color: #888;
}
.seekTrace .itemList {
  height: 30px;
  color: #888;
  line-height: 30px;
  border: 1px solid #ccc;
  border-bottom: none;
}
.seekTrace .itemList .mui-icon {
  color: #888;
}
.seekTrace .itemList:last-child {
  border-bottom: 1px solid #ccc;
}
